.shiny-text {
  color: transparent; /* This MUST be transparent for the background clip to work */
  background: linear-gradient(
    120deg,
    rgba(173, 216, 230, 0) 40%,
    rgba(98, 188, 233,1) 80%,
    rgba(173, 216, 230, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
  /* When disabled, remove the gradient and inherit the parent's color */
  background: none;
  color: inherit;
}